<p id="notice"><%= notice %></p>

<%= link_to 'New Task', new_task_path, remote: true %>

<h2>
  Tasks
  <ul>
    <div id="tasks">
      <%# if @tasks == nil %>
        <!-- <p>There are no tasks currently</p> -->
      <%# else %>
        <%= render @tasks %>
      <%# end %>
    </div>
  </ul>
</h2>
<br><br>

<div id="task-form" style="display:none;"></div>